version: '3.9'

services:
  db:
    container_name: pg_db
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=admin
      - POSTGRES_DB=my_db
    image: postgres:14.3-alpine
    volumes:
      - "./postgres_data:/wissen_books/Wissen_books/postgresql/"
    ports:
      - "5432:5432"
    
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-noemail@noemail.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-root}
    ports:
      - "5050:80"
